
PRIMECMAPP.xcodeproj/project.xcworkspace/xcuserdata/akilaperera.xcuserdatad/UserInterfaceState.xcuserstate

PRIMECMAPP.xcodeproj/xcuserdata/akilaperera.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

.DS_Store
